.menu {
    padding: 3px;
    text-decoration: none;

}

.menu:hover {
    border: 2px solid rgb(47, 47, 202);
    border-radius: 5px;
}

.author {
    height: 2rem;
    width: 2em;
    border-radius: 50%;
}